<header>
<a href="#main" class="skip-link off-screen">
  Skip to Main Content
</a>
<div class="section grey darken-3 container header" id="index-banner">
  <div class="row header">
    <div class="col s12 m12 l3 full head-col">
      <a href="https://www.kennedy-center.org" class="kc-svg">
        <img src="./img/logo-kc.svg" alt="The Kennedy Center" class="logo">
      </a>
    </div>
    <div class="col s12 m12 l9 center-align full head-col">
      <div class="right-head">
        <h1 class="white-text title">Artful Innovation: Inclusive Design and Technology</h1>
        <h2 class="grey-text text-lighten-5 title">July 20 – August 30, 2017 | A Jean Kennedy Smith Arts and Disability Program</h4>
        <div class="hide-on-small-only space">
          <a href="http://www.humancentereddesign.org" class="center-align">
            <img src="./img/ihcd-logo.png" alt="The Institute for Human Centered Design" class="sm-logo">
          </a>
          <a href="http://education.kennedy-center.org//education/vsa" class="center-align">
            <img src="./img/vsa-logo.png" alt="The International Organization on Arts and Disability" class="sm-logo" style="height: 40px; padding-bottom: 7px;">
          </a>
          <a href="https://www.kennedy-center.org" class="center-align">
            <img src="./img/kc-logo.png" alt="The Kennedy Center" class="sm-logo" style="margin-right: 0rem !important;">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</header>
