<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <main>
      <nav>
        <div class="row grey lighten-3">
          <div class="nav-wrapper">
            <div class="container">
              <a href="./" class="breadcrumb waves-effect">Home</a>
              <a href="#!" class="trim breadcrumb waves-effect">{{page.title}}</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="container">
        <article class="section">
          <div class="row">
            <div class="col l4 hide-on-med-and-down">
              {% include sidenav.html %}
            </div>
            <div class="col l8 s12 m12" id="main">
              <h3 class="grey-text text-darken-4">{{page.title}}</h3>
              {% if page.title %}
              <h4 class="grey-text text-darken-4">{{page.subtitle}}</h4>
              {% endif %}
              {{ content }}
              {% if page.link %}
                <a class="waves-effect waves-red btn-flat red-text text-darken-3" href="{{page.link}}">{{page.text}}</a>
              {% endif %}

              {% if page.link2 %}
              <a class="waves-effect waves-red btn-flat red-text text-darken-3" href="{{page.link2}}">{{page.text2}}</a>
              {% endif %}

              {% if page.video %}
              <div class="video"><div class="video-container">{{page.video}}</div></div>
              {% endif %}

              {% if page.image %}
              <img src="./img/full/{{page.image}}" alt="{{page.alt}}">
              {% endif %}

              {% if page.image2 %}
              <img src="./img/full/{{page.image2}}" alt="{{page.alt2}}">
              {% endif %}

              {% if page.image3 %}
              <img src="./img/full/{{page.image3}}" alt="{{page.alt3}}">
              {% endif %}

              {% if page.credit %}
              <p>Photo credit: {{page.credit}}</p>
              {% endif %}

            </div>
          </div>
        </article>
      </div>
    </main>
    {% include footer.html %}
    {% include script.html %}
  </body>
</html>
